<h2 class="ArabicHeadline">
  <%= "@#{@account.username}" %>
  <%= link_to "refresh", refresh_account_path(@account) %>
  <%= link_to "delete account", account_path(@account),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
</h2>


<ul class="ArabicTweet">
<% @account.tweets.each do |tweet| %>
  <li class="ArabicTweetie">
    <p>
  <%= tweet.text %>
  </p>
  <p class="timetweet">
    <%= "tweeted at: #{tweet.created_at}" %>
    </p>
  </li>
  <% end %>
</ul>
