<h2 class="ArabicHeadline">
  <%= "@#{@account.username}" %>
  <%= link_to "refresh", refresh_account_path(@account) %>
  <%= link_to "more tweets", deepen_account_path(@account) %>
  <%= link_to "delete account", account_path(@account),
                               method: :delete,
                               data: { confirm: 'Are you sure?' } %>

  <%= link_to "delete tweets", delete_tweets_account_path(@account),
                               method: :patch,
                               data: { confirm: 'Are you sure?' } %>
</h2>

<div class="AllTweets">
  <ul class="ArabicTweet">
  <% @account.tweets.each do |tweet| %>
  <li class="ArabicTweetie">
    <p class>
      <%= tweet.text %>
    </p>
    <p class="tweetinfo">
      <%= "tweeted at: #{tweet.created_at} by @#{tweet.account.username}"%>
    </p>
  </li>
  <% end %>
</ul>
</div>
